@import '../../../styles/variables.scss';

.reg-page {
    background: url("../../../assets/img/background-auth.png") no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background: #5c4a3d;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    h2 {
            font-family: $main-page-font;
            font-size: 36px;
            text-align: center;
            color: white;
            margin-bottom: 24px;
        }
    
        form {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 600px;
        }
    
        label {
            font-family: $headers-font;
            font-size: 16px;
            color: white;
            margin-left: 150px;
        }
    
        input {
            width: 300px;
            height: 40px;
            border-radius: 8px;
            border: none;
            padding: 10px;
            font-size: 16px;
            background: white;
            margin-left: 150px;
        }
    
        .submit-btn {
            width: 150px;
            height: 40px;
            border-radius: 24px;
            font-family: $main-page-font;
            background: black;
            color: white;
            border: none;
            cursor: pointer;
            align-self: center;
        }
}

