@import './variables.scss';

@font-face {
    font-family: 'CrimsonText-Regular';
    src: url('../assets/fonts/CrimsonText-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lacquer';
    src: url('../assets/fonts/Lacquer-Regular.ttf') format('truetype');
}

