@import 'variables';
@font-face {
    font-family: $main-page-font;
    src: url('../assets/fonts/CrimsonText-Regular.ttf') format('ttf');
}

@font-face {
    font-family: $headers-font;
    src: url('../assets/fonts/Lacquer-Regular.ttf') format('ttf');
}

